.edit-form-group {
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.edit-form-group input,
.edit-form-group textarea,
.edit-form-group select {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.edit-form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 18px;
}

.custom-select {
  width: 100%;
  padding: 10px 32px 10px 12px;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #bbb;
  border-radius: 6px;
  background-color: white;
  color: #444;
}

.arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-40%);
  pointer-events: none;
  font-size: 20px;
  color: #777;
}
